# Puertos
LARAVEL_PORT=8000
FRONT_PORT=5173

# Base de datos
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=hombres_lobo
DB_USERNAME=devuser
DB_PASSWORD=devpass
DB_ROOT_PASSWORD=rootpass123

