
.modalJuego {
  display: none; 
  position: fixed; 
  z-index: 100; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5);
  transition: opacity 0.3s ease;
}


.crear-unirse {
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  position: relative;
  background: linear-gradient(135deg, var(--negro), #5e365ef6, var(--negro));
  background-size: 1000% 1000%;
  animation: degradado 12s ease-in-out infinite;

}

@keyframes degradado {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.crear-unirse h3{
  color:var(--beige);
  text-shadow:1px 1px 5px var(--morado);
  font-family:var(--fuente-titulo);
  font-weight:lighter;
  font-size: 2rem;
}



.crear-partida,
.unirse-partida {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  font-family: var(--fuente-titulo);
  font-size: 1.3rem;
  color: #fff;
  background: linear-gradient(135deg, var(--morado), var(--rosa-claro));
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.crear-partida::before,
.unirse-partida::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, var(--negro) 0%, transparent 70%);
  opacity: 0.3;
  transform: rotate(45deg);
  z-index: -1;
}

.crear-partida:hover,
.unirse-partida:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

.cerrar-modal {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  color:var(--morado);
  transition: 0.2s;
}

.cerrar-modal:hover {
  color:white;
  transform: scale(1.1);
}

#modalUnirse {
  display: none; 
  position: relative;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
}


.unirse-modal {
  margin: 2rem auto 0;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  position: relative;
  color: white;
}


.unirse-modal h3 {
  font-family: var(--fuente-titulo);
  font-weight: lighter;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 5px var(--morado);
}

.unirse-modal .input-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  margin: 1rem 0;
}


.unirse-modal input {
  padding: 10px;
  width: 80%;
  margin: 1rem 0;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
}

.unirse-modal button {
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: var(--rosa-claro);
  color: white;
  transition: 0.3s;
}

.unirse-modal button:hover { 
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

#listaPartidas {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  max-height: 200px;
  overflow-y: auto;
}

#listaPartidas li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: var(--morado);
  border-radius: 6px;
  color: white; 
}

#listaPartidas li .btn-unirse{
  position:relative;
  right:-20px;
  background-color: white;
  box-shadow: var(--negro) 0px 0px 10px;
  color:var(--negro);
  font-weight:50;
  letter-spacing:1px;
  font-family:var(--fuente-titulo);
}
.modal{
  border-radius:20px;
  background-color:var(--negro);
  padding-bottom: 1rem;
}

.modal .partida-contenedor {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.modal label {
  font-family:var(--fuente-titulo);
  font-size: 1.2rem;
  color: var(--rosa-claro);
}

.modal input{
  padding: 0.8rem 0.8rem;
  margin-left:30px;
  border-radius: 6px;
  border: 1px solid var(--morado);
  background-color: #2a2a3d;
  color: #fff;
  font-size: 0.65rem;;
}


#listaPartidas::-webkit-scrollbar {
  width: 8px;
}

#listaPartidas::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

#listaPartidas::-webkit-scrollbar-thumb {
  background: var(--texto-suave);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.05);
}

#listaPartidas::-webkit-scrollbar-thumb:hover {
  background: var(--rosa-claro);
}


#listaPartidas {
  scrollbar-width: thin;
  scrollbar-color: var(--morado) rgba(255, 255, 255, 0.05);
}



