@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
:root {
  --marron: #b89778;
  --beige: #f3f2d5;
  --negro: #2c222d;
  --morado: #ab6fa0;
  --rosa-claro: #d183d4;
  --verde: #86926e;
  --amarillo: #e1c87b;
  --error: #ff7675;
  --texto-suave: #d6c7e0;
  --fuente-titulo: "Bahiana", cursive;
  --fuente-texto: "Inter", sans-serif;
  --borde-espiral: #af8f3f;
  --bruja: #f36237;
}
/* ESTILOS COMUNES CARTAS */
.carta-rol {
  border: 3px solid #1a1a1a;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: "Patrick Hand", cursive;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.carta-img-container {
  width: 100%;
  flex: 1;
  background-color: #000;
  border: 3px solid #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carta-titulo {
  font-family: "Bahiana", cursive;
  font-size: 1.6rem;
  color: #1a1a1a;
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.carta-acciones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.carta-acciones p {
  color: #1a1a1a;
}

.txt-accion {
  border: 3px solid #1a1a1a;
  border-radius: 12px;
  padding: 8px;
  font-family: "Patrick Hand", cursive;
  font-size: 1.2rem;
  cursor: pointer;
  color: #1a1a1a;
  transition: transform 0.1s;
}

/* ESTILOS CARTA HOMBRE LOBO */
.carta-lobo {
  background-color: #e63935;
}

.txt-lobo {
  background-color: #ffb85f;
}
.txt-lobo:hover {
  background-color: #ffcf8f;
}

/* ESTILOS CARTA ALDEANO */
.carta-aldeano {
  background-color: #ffec99;
}

.txt-aldeano {
  background-color: #ffb85f;
}
.txt-aldeano:hover {
  background-color: #ffcf8f;
}
/* ESTILOS CARTA NIÑA */
.carta-niña {
  background-color: #ff85a2;

  background: linear-gradient(135deg, #ff9eb5 0%, #ff7a9b 100%);

  border-color: #3d0f1a;

  transition: all 0.3s ease;
}

.carta-vidente {
  background-color: #b941ff;
}

.carta-bruja{
  background-color: var(--bruja);
}

.btn-bruja-revivir,
.btn-bruja-matar {
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-bruja-revivir {
  background-color:lightgreen;
  color: white;
  font-family: var(--fuente-titulo);
  font-size: 1.2rem;
  font-weight:bolder;
  letter-spacing:2.5px;
  z-index:100;
}

.btn-bruja-revivir:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-bruja-matar {
  background-color:var(--bruja);
  color: white;
  font-family: var(--fuente-titulo);
  font-size: 1.2rem;
  font-weight:bolder;
  letter-spacing:2.5px;
  z-index:100;
}

.btn-bruja-matar:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}